.window-robot
  position: absolute
  cursor: pointer
  width: 100px
  height: 153px

  &__control
    position: relative
    top: 80px
    left: 30px

    &-walk,
    &-reverse,
    &-push,
    &-jump
      +absolute-full
      +circle(50px, $red1, $red1, 0px, $red2)
      transition: all 500ms ease-out
      cursor: pointer
      opacity: 0

    .is-select &-walk
      opacity: 1
      top: -100px
      left: -100px
      z-index: 5000
      &:after
        position: absolute
        font-size: 12px
        color: $black1
        text-transform: uppercase
        content: 'шагнуть'
        top: -15px
        left: -3px


    .is-select &-reverse
      opacity: 1
      left: -50px
      top: -170px
      z-index: 5000
      &:after
        position: absolute
        font-size: 12px
        color: $black1
        text-transform: uppercase
        content: 'повернуть'
        top: -15px
        left: -10px

    .is-select &-push
      opacity: 1
      left: 50px
      top: -170px
      z-index: 5000
      &:after
        position: absolute
        font-size: 12px
        color: $black1
        text-transform: uppercase
        content: 'толкнуть'
        top: -15px
        left: -5px

    .is-select &-jump
      opacity: 1
      top: -100px
      left: 100px
      z-index: 5000
      &:after
        position: absolute
        font-size: 12px
        color: $black1
        text-transform: uppercase
        content: 'прыгнуть'
        top: -15px
        left: -6px

  &__model
    position: absolute
    bottom: 0
